<tr class="hover:bg-slate-50" [formGroup] = "questionForm">
    <td class="p-4 flex">
      <p></p>
    </td>
    <td class="p-4 max-w-[200px]">
      <input formControlName="text" class="text-sm w-[80%] mx-auto px-[.7rem] py-[.35rem] bg-[#CCCCFF] rounded-md bg-opacity-30 focus:outline-none text-[.85rem] font-medium text-[#A3A3CC]" type="text" >
    </td>
    <td class="max-w-[100px]">
      <select formControlName="type" class="text-sm w-[100%] mx-auto px-[.7rem] py-[.35rem] bg-[#CCCCFF] rounded-md bg-opacity-30 focus:outline-none text-[.85rem] font-medium text-[#A3A3CC]">
        <option value="">Select an option</option>
        <option value="SINGLE_CHOICE">Single choice</option>
        <option value="MULTI_CHOICE">Multiple choice</option>
      </select>
    </td>
    <td class="max-w-[100px]">
        <p></p>
    </td>
    <td class="p-4 flex items-center justify-center gap-[5px]">
       <button (click)="onSubmit()">
          <img loading="lazy" class="w-[25px] h-[25px] cursor-pointer " src="assets/images/green_plus.png" alt="green icon">
       </button>
    </td>
</tr>