
  <div class="w-[80%] mx-auto h-full py-[7.5%] weird-font flex flex-col gap-[4rem] items-center">
    <app-participation-advancement
      [activeSubchapterIndex]="activeSubchapterIndex"
      [subchapters]="subchapters">
    </app-participation-advancement>

    <app-participation-question-template
      *ngIf="currentQuestion()"
      [question]="currentQuestion()!"
      [questionNumber]="activeQuestionIndex() + 1"
      (onAnswerSelected)="handleAnswerSelected($event)"
      (onNext)="handleNext()">
    </app-participation-question-template>
  </div>

