<div class="absolute w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="flex flex-col gap-[1rem] items-center relative w-[30%] rounded-md bg-[#96bf91] bg-opacity-20 py-[2rem]">
    <div class="absolute bg-[#419e77] bg-opacity-80 rounded-t-md top-0 w-full left-0 text-white text-[.9rem] font-medium flex h-[50px] items-center justify-center">
      <p>Thank you message</p>
    </div>
    <img ngSrc="/assets/images/ty-icon.png" alt="" class="mt-[2rem]" height="200" width="200">
    <p class="text-xl font-medium max-w-[40%] text-center weird-font">Thank You for participating in the survey : <span class="text-[#218e60]">  {{surveyTitle}}</span> </p>
    <p class="text-[.85rem] font-medium">Redirecting ...</p>
  </div>
</div>

