<div class="flex flex-col gap-[3rem] w-[50%] text-[#000401]">
    <div class="flex justify-start items-center">
        <p class="text-2xl font-medium ">1. What Is Angular ? </p>
    </div>
    <div class="flex flex-col gap-[2rem]">
        <app-participation-answer-template></app-participation-answer-template>
        <app-participation-answer-template></app-participation-answer-template>
        <app-participation-answer-template></app-participation-answer-template>
        <app-participation-answer-template></app-participation-answer-template>
    </div>
    
</div>