<div class="w-[70%] mx-auto pb-[4rem] pt-[100px] relative">
    <app-edition-data-header [editionData]="editionData"></app-edition-data-header>
    <div class="w-full flex gap-[2%]">
        <div class="flex flex-col gap-[4rem] px-[2rem] w-[40%] bg-[#CCCCFF] min-h-[60vh] mt-[4rem] rounded-md relative">
            <app-edition-data-title title="Subjects"></app-edition-data-title>
            <app-chapter-tree 
                (chapterChosenEvent)="handleChosenChapterChange($event)" 
                *ngIf="editionData()" 
                [items]="editionData()!.chapters">
        </app-chapter-tree>
        </div> 
        <div class="flex flex-col gap-[4rem] px-[2rem] w-[60%] bg-[#CCCCFF] min-h-[60vh] mt-[4rem] rounded-md relative">
            <app-edition-data-title title="Questions"></app-edition-data-title>
            <app-question-data-layout  [questions]="activeChapterQuestions" [isShownQuestionsTable]="questionsTableShown"></app-question-data-layout>
        </div> 
    </div>
</div>  