<tr class="hover:bg-slate-50" [formGroup]="answerForm">
    <td class="p-4 flex">
      <p></p>
    </td>
    <td class="p-4 max-w-[200px]">
      <input formControlName="text" class="text-sm w-[100%] mx-auto px-[.7rem] py-[.35rem] bg-[#218e60] bg-opacity-40 rounded-md  focus:outline-none text-[.85rem] font-medium text-white" type="text" >
    </td>
    <td class="max-w-[100px]">
        <p></p>
    </td>
    <td class="p-4 flex items-center justify-center gap-[5px]">
          <img loading="lazy" class="w-[25px] h-[25px] cursor-pointer"  src="assets/images/green_plus.png" (click)="handleSubmit()" alt="green icon">
    </td>
</tr>