<tr class="hover:bg-slate-50" >
    <td class="p-4 flex">
      <p></p>
    </td>
    <td class="p-4 max-w-[200px]">
      <input formControlName="text" class="text-sm w-[70%] px-[.7rem] py-[.35rem] bg-[#CCCCFF] rounded-md bg-opacity-30 focus:outline-none text-[.85rem] font-medium text-[#A3A3CC]" type="text" >
    </td>
    <td class="max-w-[100px]">
        <p></p>
    </td>
    <td class="p-4 flex items-center justify-center gap-[5px]">
       <button (click)="handleSubmit()">
          <img loading="lazy" class="w-[25px] h-[25px] cursor-pointer " src="assets/images/green_plus.png" alt="green icon">
       </button>
    </td>
</tr>