<tr class="hover:bg-slate-50">
    <td class="p-4 flex">
      <p class="text-sm font-bold">
        {{question.id}}
      </p>
    </td>
    <td class="p-4 max-w-[200px]">
      <p class="text-sm">
        {{question.text}}
      </p>
    </td>
    <td class="p-4">
      <p class="text-sm">
        {{question.type}}
      </p>
    </td>
    <td class="p-4">
      <p class="text-sm">
        {{question.answerCount}}
      </p>
    </td>
    <td class="p-4 flex items-center gap-[5px]">
       <img loading="lazy" class="w-[25px] h-[25px] cursor-pointer" (click)="handleQuestionTargeting()" src="assets/images/answers.png" alt="answers icon">
       <img loading="lazy" class="w-[25px] h-[25px] cursor-pointer " src="assets/images/delete.png" alt="delete icon">
    </td>
  </tr>