<thead> 
    <tr class="text-[#CCCCFF] border-b border-[#CCCCFF] bg-[#5C5C99]">
      <th class="p-4">
        <p class="text-sm leading-none font-normal">
          ID
        </p>
      </th>
      <th class="p-4">
        <p class="text-sm leading-none font-normal">
          TEXT
        </p>
      </th>
      <th class="p-4">
        <p class="text-sm leading-none font-normal">
          TYPE
        </p>
      </th>
      <th class="p-4">
        <p class="text-sm leading-none font-normal">
          ANSWER COUNT
        </p>
      </th>
      <th class="p-4">
        <p class="text-sm leading-none font-normal">
            ACTIONS
          </p>
      </th>
    </tr>
</thead>